@using Security.AspIdentity.Models
@model List<Security.AspIdentity.Models.AppIdentityUser>

<h3>Users</h3>

<table class="table table-hover">
    <thead class="thead">
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td><a asp-controller="User" asp-action="Detail" asp-route-id="@item.Id">@item.UserName</a></td>
                <td>@item.Email</td>
            </tr>

        }
    </tbody>
</table>


