@model List<Fiver.Security.AspIdentity.Services.Identity.AppIdentityUser>


<h3>Users</h3>

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
        </tr>
    }
    </tbody>
</table>