/**
 * TYPOGRAPHY
 */
body, .navbar-nav {
    font-family: "Alegreya Sans", sans-serif;
}

.navbar-nav {
    font-weight: bold;
}

.navbar-brand {
    font-size: x-large;
    color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4,
.navbar-brand {
    font-family: "Playfair Display", sans-serif;
}
