<form asp-controller="Security" asp-action="ForgotPassword" method="post">
    <div class="form-row">
        <div asp-validation-summary="All"></div>
        <div class="col">
            <input type="text" name="email" id="email" placeholder="Email"/><br/>
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Submit"/>
    </div>
</form>
