@model Fiver.Security.AspIdentity.Models.Security.RegisterViewModel

<form asp-controller="Security" asp-action="Register" method="post">
    <div class="form-group">
        <div asp-validation-summary="All"></div>
        <div class="col-4">
            <input type="text" class="form-control"asp-for="UserName" placeholder="Username"/><br/>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password"/><br/>
            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password"/><br/>
            <input type="email" class="form-control" asp-for="Email" placeholder="Email"/><br/>
            <input type="submit" class="btn btn-outline-dark" value="Register"/>
        </div>
    </div>
</form>